
    <%-include('./partials/header');%>

    <!-- Optional JavaScript; choose one of the two! -->
    <section class="changepassword">
        <div class="container">
                <form class="form" method="post" action="/change-password">
                    <%if(message){%>
                    <div class="from-group">
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <strong><%=message%>!</strong>.
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                    </div>
                    <%}%>
                    <div class="form-group">
                      <label class=""for="exampleInputEmail1">Old Password</label>
                      <input type="password" class="form-control " id="exampleInputEmail1" name="oldpassword">
                    </div>
                    <div class="form-group">
                      <label for="exampleInputPassword1">New Password</label>
                      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
                    </div>
                    <!-- <div class="form-group form-check">
                      <input type="checkbox" class="form-check-input" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                    <button type="submit" class="btn btn-primary">Change Password</button>
                  </form>
            </div>
         
    
    </section>

   <%-include('./partials/footer.ejs');%>